.formulario
{
    display: block;
    padding: 6px 12px; /*espaço dentro do campo*/
    color: #555;
    border: 1px solid #ccc;
    border-radius: 0 10px; /*borda arredondada*/
    width: 100%;
    height: 54px;
    background-color: transparent;
    margin: 15px 0;
    line-height: 58px;
    height: 58px;
    margin: 0px;
}

/*deixa num grupinho label e o elemento */
.grupinho {
	margin-bottom: 15px
}

textarea.formulario
{
    height: auto;
}

input[type=search]
{
    -webkit-appearance: none;
}

.form-group
{
    margin-bottom: 15px;
}

.checkbox, .radio
{
    position: relative;
    display: block;
    margin-top: 10px;
    margin-bottom: 10px;
}

.checkbox label, .radio label
{
    min-height: 20px;
    padding-left: 20px;
    margin-bottom: 0;
    font-weight: 400;
    cursor: pointer;
}

.checkbox input[type=checkbox], .checkbox-inline input[type=checkbox], .radio input[type=radio], .radio-inline input[type=radio]
{
    position: absolute;
    margin-top: 4px\9;
    margin-left: 5px;
}

.checkbox + .checkbox, .radio + .radio
{
    margin-top: -5px;
}

.checkbox-inline, .radio-inline
{
    position: relative;
    display: inline-block;
    padding-left: 20px;
    margin-bottom: 0;
    font-weight: 400;
    vertical-align: middle;
    cursor: pointer;
}

.checkbox-inline + .checkbox-inline, .radio-inline + .radio-inline
{
    margin-top: 0;
    margin-left: 10px;
}


.formulario-static
{
    min-height: 34px;
    padding-top: 7px;
    padding-bottom: 7px;
    margin-bottom: 0;
}

.formulario-static.input-lg, .formulario-static.input-sm
{
    padding-right: 0;
    padding-left: 0;
}

.input-sm
{
    height: 30px;
    padding: 5px 10px;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 3px;
}

select.input-sm
{
    height: 30px;
    line-height: 30px;
}

select[multiple].input-sm, textarea.input-sm
{
    height: auto;
}

.form-group-sm .formulario
{
    height: 30px;
    padding: 5px 10px;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 3px;
}

.form-group-sm select.formulario
{
    height: 30px;
    line-height: 30px;
}

.form-group-sm select[multiple].formulario, .form-group-sm textarea.formulario
{
    height: auto;
}

.form-group-sm .formulario-static
{
    height: 30px;
    min-height: 32px;
    padding: 6px 10px;
    font-size: 12px;
    line-height: 1.5;
}

.input-lg
{
    height: 46px;
    padding: 10px 16px;
    font-size: 18px;
    line-height: 1.3333333;
    border-radius: 6px;
}

select.input-lg
{
    height: 46px;
    line-height: 46px;
}

select[multiple].input-lg, textarea.input-lg
{
    height: auto;
}

@media ( min-width :768px)
{
    .navbar-form .form-group
    {
        display: inline-block;
        margin-bottom: 0;
        vertical-align: middle;
    }
    .navbar-form .formulario
    {
        display: inline-block;
        width: auto;
        vertical-align: middle;
    }
    .navbar-form .formulario-static
    {
        display: inline-block;
    }
    .navbar-form .input-group
    {
        display: inline-table;
        vertical-align: middle;
    }
    .navbar-form .input-group .formulario, .navbar-form .input-group .input-group-addon, .navbar-form .input-group .input-group-btn
    {
        width: auto;
    }
    .navbar-form .input-group > .formulario
    {
        width: 100%;
    }
    .navbar-form .control-label
    {
        margin-bottom: 0;
        vertical-align: middle;
    }
    .navbar-form .checkbox, .navbar-form .radio
    {
        display: inline-block;
        margin-top: 0;
        margin-bottom: 0;
        vertical-align: middle;
    }
    .navbar-form .checkbox label, .navbar-form .radio label
    {
        padding-left: 0;
    }
    .navbar-form .checkbox input[type=checkbox], .navbar-form .radio input[type=radio]
    {
        position: relative;
        margin-left: 0;
    }
    .navbar-form .has-feedback .formulario-feedback
    {
        top: 0;
    }
}

@media ( max-width :767px)
{
    .navbar-form .form-group
    {
        margin-bottom: 5px;
    }
    .navbar-form .form-group:last-child
    {
        margin-bottom: 0;
    }
}
