/* coisas na nav espacial aqui */

nav li {
	position: relative;
	display: block;
	padding: 10px 15px;
	margin-bottom: -1px;
	background-color: #fff;
	border: 1px solid #ddd
}

nav ul {
	padding: 0px;
	margin-bottom: 30px;
	margin-top: 0;
	
}

nav ul > li:first-child {
	border-top-left-radius: 0;
    padding: 0px;
    border-top-right-radius: 10px;
}

nav ul > li{
	position: relative;
    display: block;
    padding: 10px 15px;
    margin-bottom: -1px;
    background-color: #fff;
    border: 1px solid #ddd;
}
nav ul > li > a, nav ul > li > a {
	display: block;
    padding: 20px;
    text-decoration: none !important;
    color: #2495c9;
    background-color: #fff;
}

nav ul > li > a, nav ul > li.active > a {
	display: block;
    padding: 20px;
    text-decoration: none !important;
    color: #2495c9;
    background-color: #fff;
    
}

nav ul > li.active, ul > li.active:hover {
    border-color: #ddd;
    box-shadow: none;
    background-color: transparent;
}

